{% extends 'base.html' %}
{% block content %}
  <form action="{% url 'movies:christmas' %}">
    <label for="state">당신은 12월 25일 날?😏</label>
    <br>
    <div class="form-floating-height:add(3.5rem, $input-height-border)">
      <select class="form-select" name="state" id="state" aria-label="Floating label select example">
        <option value="alone">혼자서🙋‍♀️</option>
        {% comment %} 💛disable 해도 재밌을지도...? {% endcomment %}
        <option value="couple" >커플..💑</option> 
        <option value="friend">친구랑👨🏻‍🤝‍👨🏻</option>
        <option value="family">가족끼리👨‍👩‍👦</option>
      </select>
    <input type="submit" name="" id="">
    </div>
  </form>
  
  {% if humor %}
    <p>Christ-mas movie🎬 {{movie.title}}</p>
    <h3> {{humor}} </h3>
  {% endif %}

    <div class="container">
    <div class="row justify-content-start">
      {% for movie in movies %}
        <div class="card col-4 m-3" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview|truncatechars:100}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}