{% extends 'base.html' %}
{% block content %}
  <form action="{% url 'movies:christmas' %}">
  <br>
    <div class="form-floating-height:add(3.5rem, $input-height-border)" aria-label="Default select example">
      <select class="form-select" name="state" id="state" >
        <option selected value="nope">12월 25일날 당신은?!😏</option>
        <option value="alone">혼자서🙋‍♀️</option>
        {% comment %} 💛disable 해도 재밌을지도...? {% endcomment %}
        <option value="couple" >커플..💑</option> 
        <option value="friend">친구랑👨🏻‍🤝‍👨🏻</option>
        <option value="family">가족끼리👨‍👩‍👦</option>
      </select>
    <input type="submit" name="" id="">
    </div>
  </form>
  
  {% if humor %}
    <p>Christ-mas movie🎬 {{movie.title}}</p>
    <h3> {{humor}} </h3>
  {% endif %}

    <div class="container">
    <div class="row justify-content-start">
      {% for movie in movies %}
          <div class="card col-4 m-3" style="width: 18rem;">
            <a href="{% url 'movies:detail' movie.pk %}">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
            <h5 class="card-title">{{movie.title}}</h5>
            </a>
            {% if movie.overview %}
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
            <p class="card-text">{{movie.overview|truncatechars:100}}</p>
            </a>
            {% else %}
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
            <p class="card-text">영화의 overview가 없습니다 🤔</p>
            </a>
            {% endif %}
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

