{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Movies</h1>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'movies/carousel_1.jpg' %}" class="d-block w-100" alt="..." style="cursor:pointer;">
      </div>
      <div class="carousel-item">
        <img src="{% static 'movies/carousel_2.jpg' %}" class="d-block w-100" alt="..." style="cursor:pointer;">
      </div>
      <div class="carousel-item">
        <img src="{% static 'movies/carousel_3.jpg' %}" class="d-block w-100" alt="..." style="cursor:pointer;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- {% for movie in movies %}
    <h3>Title : {{movie.title}} </h3>
    <a href="{% url 'movies:detail' movie.pk %}"><img src=https://image.tmdb.org/t/p/w500{{ movie.poster_path }} alt={{ movie.title }}></a><br>
    <hr>
  {% endfor %} -->
  <div>
    <h4>곧 회원이 될 당신에게 추천하는 영화!</h4>
    <p>사실 그냥 무작위로 골라봤어요 😎</p>
    <p>회원가입 한다면 당신에게 더 맞는 영화를 추천해줄지도?</p>
    <button id="random" class="btn btn-outline-dark">추천받기</button>
  </div>
  <div id="card-group" class="card-group row row-cols-5 g-2">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const randomButton = document.querySelector('#random')

    randomButton.addEventListener('click', function (event) {
      axios({
        method: 'get',
        url: 'http://127.0.0.1:8000/movies/random_movie/'
      })
      .then(function (res) {
        console.log(res)
        const moviesList = res.data
        console.log(moviesList)
        moviesList.forEach((movie) => {
          const movieTitle = movie.title
          const releaseDate = movie.release_date
          const voteAvg = movie.vote_average
          const posterPath = movie.poster_path
          
          const div1 = document.createElement('div')
          div1.setAttribute('class', 'col')
          const div2 = document.createElement('div')
          div2.setAttribute('class', 'card')
          const img = document.createElement('img')
          img.setAttribute('src', `https://image.tmdb.org/t/p/w500${posterPath}`)
          img.setAttribute('class', 'card-img-top')
          const div3 = document.createElement('div')
          div3.setAttribute('class', 'card-body')
          const cardTitle = document.createElement('h6')
          cardTitle.setAttribute('class', 'card-title text-center fw-bold')
          cardTitle.innerText = movieTitle
          const cardText = document.createElement('p')
          cardText.setAttribute('class', 'card-text text-center')
          cardText.innerText = `⭐ ${voteAvg}`

          const parentDiv = document.querySelector('#card-group')
          parentDiv.appendChild(div1)
          div1.appendChild(div2)
          div2.append(img, div3)
          div3.append(cardTitle)
          div3.append(cardText) 
        })
      })
    })
  </script>

{% endblock %}
