{% extends 'base.html' %}
{% block content %}

  {% if friends %}
    {% if my_friends_likes %}
      <div class="container">
        <div class="row justify-content-start">
          {% for movie in my_friends_likes %}
          <div class="card col-4 m-3" style="width: 18rem;">
            <a href="{% url 'movie:detail' movie.pk %}">
              <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">{{movie.overview|truncatechars:100}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% comment %} 친구는 있는데 친구가 좋아요 누른 영화가 없다 {% endcomment %}
    {% else %}
      <p>아직 친구가 좋아하는 영화가 없네요.. 그러면 같이 볼 영화를 찾아보러 가볼까요??!</p>
      <a href="{% url 'movies:random_movie' %}">[Random Movie!]</a>
    {% endif %}
  {% comment %} following 하는 친구가 없댜! {% endcomment %}
  {% else %}
    <p>follow한 친구가 없네요 ㅠㅠ</p>
    <p>follow 할 친구를 찾으러 가볼까요?!</p>
    <a href="{% url 'community:index' %}">community로!</a>
  {% endif %}
{% comment %} {% for movie_algo in my_friends_likes  %}
  <p>{{movie_algo.title}}</p>
  <p>{{movie_algo.overview}}</p>
{% endfor %}

<div class="container">
    <div class="row justify-content-start">
      {% for movie in recommended_movies %}
      <div class="card col-4 m-3" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview|truncatechars:100}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> {% endcomment %}
{% endblock %}
