{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

  {% if friends %}
    {% if my_friends_likes %}
      <div class="container ">
        <div class="row">
          {% for movie in my_friends_likes %}
            <div class="card col-12 col-md-6 col-lg-3" sytle="color:white; background-color:rgba(0,0,0,0.8)">
              <a href="{% url 'movies:detail' movie.pk %}">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.overview|truncatechars:100}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% comment %} 친구는 있는데 친구가 좋아요 누른 영화가 없다 {% endcomment %}
    {% else %}
      <div class="my-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">😥</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>친구가 좋아요 누른 영화가 없네요. </p>
              <p>친구에게 추천할 영화를 먼저 찾아보러 가볼까요?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <a href="{% url 'movies:index' %} " style="color:white; text-decoration:none;">
                  Home🎠
                </a>
              </button>
              <button type="button" class="btn btn-primary">
                <a href="{% url 'movies:christmas' %} " style="color:white; text-decoration:none;">
                  ChristMas🎄
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>


      <!-- <p>아직 친구가 좋아하는 영화가 없네요.. 그러면 같이 볼 영화를 찾아보러 가볼까요??!</p>
      <a href="{% url 'movies:random_movie' %}">[Random Movie!]</a> -->
    
    {% endif %}


  {% comment %} following 하는 친구가 없댜! {% endcomment %}
  {% else %}
  <br>
    <div class="a-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">😥</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>아직 팔로우 한 친구가 없네요. </p>
            <p>팔로우 할 친구를 찾으러 가볼까요?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              <a href="{% url 'movies:index' %} " style="color:white; text-decoration:none;">
                Home 🎠
              </a>
            </button>
            <button type="button" class="btn btn-primary">
              <a href="{% url 'community:index' %} " style="color:white; text-decoration:none;">
                Community 💌
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <p style="color:white; font-size:2rem">follow한 친구가 없네요 ㅠㅠ</p>
    <p style="color:white; font-size:2rem">follow 할 친구를 찾으러 가볼까요?!</p>
    <a href="{% url 'community:index' %}" style=" color:white; font-size:3rem">community로!</a> -->
  {% endif %}

{% comment %} 
{% for movie_algo in my_friends_likes  %}
  <p>{{movie_algo.title}}</p>
  <p>{{movie_algo.overview}}</p>
{% endfor %}

<div class="container">
    <div class="row justify-content-start">
      {% for movie in recommended_movies %}
      <div class="card col-4 m-1" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview|truncatechars:100}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> 
{% endcomment %}
{% endblock %}

<style>


</style>

<script>
var myModal = new bootstrap.Modal(document.getElementById('myModal'), options)
var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})

var aModal = new bootstrap.Modal(document.getElementById('aModal'), options)
var aModal = document.getElementById('aModal')
var aInput = document.getElementById('aInput')

aModal.addEventListener('shown.bs.modal', function () {
  aInput.focus()
})
  
</script>