{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <div style='color:white; font-size:20pt' class="blur">
    <h1>게시글 </h1>
    <p>Movie : {{review.movie.title}}</p>
    <p>Writer : <a href="{% url 'accounts:profile' user.username %}">{{review.user}}</p></a>
    <div>
      {% comment %} 좋아요 버튼 {% endcomment %}
      <form class="form-inline" action="{% url 'community:likes' review.pk %}" method="POST">
        <span>Title : {{review.title}}</span>
        {% csrf_token %}
        {% if user in review.like_users.all %}
        <button class="btn shadow-none"><i class="fas fa-heart" style="color:red; border:none;"></i></button>
        {% else %}
        <button class="btn shadow-none"><i class="far fa-heart" style="color:black; border:none;"></i></button>
        {% endif %}
        {{ review.like_users.all|length }}
      </form>
    </div>
    <p>Rank : {{review.rank}}</p>
    <p>Content : {{review.content}}</p>
    <p>Created_at : {{review.created_at}}</p>
    <p>Updated_at : {{review.updated_at}}</p>

    {% comment %} 작성자라면 update 화면 출력{% endcomment %}
    {% if user == review.user %}
      <a href="{% url 'community:update' review.pk %}">[UPDATE]</a>
      <form action="{% url 'community:delete' review.pk %}" method='POST'>
        {% csrf_token %}
        <input type="submit" value="DELETE">
      </form>
      {% endif %}
    <a href="{% url 'community:index' %}">[back]</a>

    <hr>
    <h4>댓글 목록</h4>
    {% if comments %}
      <p><b>{{ comments |length }}개의 댓글이 있습니다.</b></p>
    {% endif %}

    <!-- {% for comment in comments %}
    <p>{{ comment.content }} / 작성자: <a href="{% url 'accounts:profile' comment.user_id %}">{{ comment.user_id }}</a></p>
    {% endfor %} -->

    <ul>
      {% for comment in comments %}
        <li>
          {{ comment.user }} - {{ comment.content }}
          {% if user == comment.user %}
            <a href="{% url 'community:comment_update' review.pk comment.pk%}">[UPDATE]</a>
            <form action="{% url 'community:comment_delete' review.pk comment.pk %}" method="POST" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="DELETE">
            </form>
          {% endif %}
        </li>
      {% empty %}
        <p>댓글이 없어요..</p>
      {% endfor %}
    </ul>
    <hr>

    {% comment %} login user면 comment form {% endcomment %}
    {% if request.user.is_authenticated %}
      <form action="{% url 'community:comment' review.pk %}" method="POST"> 
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <button type="submit" class="btn btn-dark btn-m float-right m-1">댓글 달기</button>
      </form>
    {% else %}
      <a href="account:login">[LOGIN]</a>
    {% endif %}
  </div>
  <style>
      .blur {
      background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
      backdrop-filter: blur(8px); // This be the blur
      height: 100vh;
      width: 50%;
    }
  </style>
{% endblock content %}