{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <div class="container" style="color:white; font-size: 1.25rem; background-color:rgba(0,0,0,0.8)">
    <h1 class="row mt-5 ml-1"> 게시글 </h1>
    <p>영화 제목 : {{review.movie.title}}</p>
    <p>작성자 : <a href="{% url 'accounts:profile' review.user %}" style="color: white; text-decoration: none;">{{review.user}}</p></a>
    <p>평점 : {{review.rank}}</p>
    <p>리뷰 제목 : {{review.title}}</p>
    <p>내용 : {{review.content}}</p>
    <small class="float-right" style="color:grey;">작성시간 : {{review.created_at}}</small><br>
    <small class="float-right" style="color:grey;">수정시간 : {{review.updated_at}}</small><br>


    {% comment %} 좋아요 버튼 {% endcomment %}

      <form action="{% url 'community:likes' review.pk %}" method="POST">
        {% csrf_token %}
          {% if user in review.like_users.all %}
            <button class="btn btn-light btn-outline-dark shadow-none float-left"><i class="fas fa-heart" style="color:red; border:none;"></i>좋아요 {{ review.like_users.all|length }}</button>
          {% else %}
            <button class="btn btn-light btn-outline-dark shadow-none float-left"><i class="far fa-heart" style="color:red; border:none;"></i>좋아요 {{ review.like_users.all|length }}</button>
          {% endif %}
      </form>

    {% comment %} 작성자라면 update 화면 출력{% endcomment %}
    {% if user == review.user %}
      <button class="btn btn-light btn-outline-dark btn-m m-1 float-right"><a href="{% url 'community:update' review.pk %}" style="color: black;"><i class="fas fa-pencil-alt"></i>수정</a></button>
      <form action="{% url 'community:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-light btn-outline-danger btn-m m-1 float-right"><i class="far fa-trash-alt"></i>삭제하기</button>
      </form>
    {% endif %}
    
    
    <br>
    <hr>
    <h4><i class="fas fa-comments"> 댓글 {{ comments |length }}</i></h4>


    <!-- {% for comment in comments %}
    <p>{{ comment.content }} / 작성자: <a href="{% url 'accounts:profile' comment.user_id %}">{{ comment.user_id }}</a></p>
    {% endfor %} -->

    <ul>
      {% for comment in comments %}
        <li>
          {{ comment.user }} - {{ comment.content }}
          {% if user == comment.user %}
            <a href="{% url 'community:comment_update' review.pk comment.pk%}" style="text-decoration:none; color:white;">[수정]</a>
            <form action="{% url 'community:comment_delete' review.pk comment.pk %}" method="POST" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="[삭제]" style="background:none; color:white; border:0;">
            </form>
          {% endif %}
        </li>
      {% empty %}
        <p>댓글이 없어요 😔</p>
      {% endfor %}
    </ul>
    <hr>

    {% comment %} login user면 comment form {% endcomment %}
    {% if request.user.is_authenticated %}
      <form action="{% url 'community:comment' review.pk %}" method="POST"> 
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <button type="submit" class="btn btn-light btn-m float-right m-1"><i class="fas fa-comment-dots"></i>댓글 달기</button>
      </form>
    {% else %}
      <button class="btn btn-primary btn-m m-1"><a href="accounts:login">로그인하러 가기</a></button>
    {% endif %}
  </div>

  {% comment %} 커뮤니티로 돌아가기 버튼 {% endcomment %}
  <button class="btn btn-light btn-outline-dark btn-m m-1 float-left"><a href="{% url 'community:index' %}" style="color: black;"><i class="fas fa-arrow-left"></i> 커뮤니티</a></button>


  <style>
      .blur {
      background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
      backdrop-filter: blur(8px); // This be the blur
      height: 100vh;
      width: 50%;
    }
  </style>
{% endblock content %}