
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <h1 class="mt-3" style="color:white; font-size:30px">영화 커뮤니티</h1>
    {% if user.is_authenticated %}
      <div class="row">
        <button class="btn btn-dark btn-m m-1">
          <a href="{% url 'community:create' %}" style="color:white; text-decoration:none"><i class="fas fa-pencil-alt"></i>영화 리뷰 쓰기</a>
        </button>
      </div>
    {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row m-3">
    {% for review in reviews %}
      <div class="card text-white col-12 col-md-6 col-lg-3 " style="position:relative; background:none;">
        <img src="https://image.tmdb.org/t/p/w500{{ review.movie.poster_path }}" class="card-img" style="filter: brightness(50%);" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">제목:<a href="{% url 'community:detail' review.pk %}" style="color:white; text-decoration:none">{{review.title}}</a></h5>
          <div style="position:absolute; right:2rem; bottom:0px">
            <p class=" mt-auto align-text-bottom">
              작성자:
              <a href="{% url 'accounts:profile' review.user.username %}" style="color:white; text-decoration:none">
              {{review.user}}
              </a>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
<div>

  {% if user.is_authenticated %}
  {% else  %}
    <a href="{% url 'accounts:login' %}" style="color:white; text-decoration:none">로그인하러!</a>
  {% endif %}
  <hr>

    {% comment %} {% for review in reviews %}
      <p>Movie : {{review.movie.title}}</p>
      <p>Writer : <a href="{% url 'accounts:profile' review.user.username %}">{{review.user}}</a></p>  
      <p>Title : <a href="{% url 'community:detail' review.pk %}">{{review.title}}</a></p>  
      <p>Rank : {{review.rank}}</p>
      <hr> 
    {% endfor %} {% endcomment %}
  </div>

{% endblock content %}

<script>


</script>