{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <div class="m-3 container-fluid" style="width:45rem; color:white; background-color: rgba( 0, 0, 0, 0.8 )">
    <h1>수정하기</h1>
        <form action="{% url 'community:update' review.pk%}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-m float-right m-1">수정하기</button>
        </form>
      <button class="btn btn-dark btn-m float-right m-1"><a href="{% url 'community:detail' review.pk %}" style="text-decoration:none; color:white">뒤로가기</a></button>  
  </div>
{% endblock %}
