{% extends 'base.html' %}

{% block content %}

<div style="color:white;">
	<h1> {{ person.username }}'s profile</h1>
	{% with followings=person.followings.all followers=person.followers.all %}
		<div>
			<div>팔로잉 수 : {{ followings|length }} / 팔로워 수 : {{ followers|length }}</div>
		</div>
		{% if user != person %}
			<div>
				<form action="{% url 'accounts:follow' person.pk %}" method="POST">
					{% csrf_token %}
					{% if user in followers %}
						<button>Unfollow</button>
					{% else %}
						<button>follow</button>
					{% endif %}
				</form>
			</div>
		{% endif %}
	{% endwith %}


<div class="wrapper">
  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" class="active">LIKE Movies</a></li>
    <li><a href="#tab2">My Reviews</a></li>
    <li><a href="#tab3">My Comments</a></li>
    <li><a href="#tab4">LIKE Reviews</a></li>
  </ul>
  <section id="first-tab-group" class="tabgroup">
    <div id="tab1">
     <h2>{{ person.username }}가 좋아하는 영화</h2>
        <div class="container">
        <div class="row justify-content-start">
          {% for movie in person.like_movies.all %}
              <div class="card col-4 m-3" style="width: 18rem;">
                <a href="{% url 'movies:detail' movie.pk %}">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black" style="color:white;">
                <h5 class="card-title" style="color:white;">{{movie.title}}</h5>
                </a>
                {% if movie.overview %}
                <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
                <p class="card-text" style="color:white;">{{movie.overview|truncatechars:100}}</p>
                </a>
                {% else %}
                <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
                <p class="card-text" style="color:white;">영화의 overview가 없습니다 🤔</p>
                </a>
                {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="tab2">
      <h2>{{ person.username }}가 작성한 게시글</h2>
      {% for review in person.review_set.all %}
        <div class="card" style="width:18rem;">
          <div class="card-body">
            <h5 class="card-title">{{review.movie.title}}</h5>
            <h5 class="card-title">{{review.title}}</h5>
            <p class="card-text">{{review.content}}</p>
          </div>
        </div>
      {% endfor %}    
    </div>
    <div id="tab3">
      <h2>{{ person.username }}가 작성한 댓글</h2>
      {% for comment in person.comment_set.all %}
        <div class="card" style="width:18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ comment.review.title }}</h5>
            <p class="card-text">{{ comment.content }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="tab4">
     <h2>{{ person.username }}가 좋아요를 누른 게시글</h2>
      {% for review in person.like_reviews.all %}
       <div class="card" style="width:18rem;">
          <div class="card-body">
            <h5 class="card-title">{{review.movie.title}}</h5>
            <p class="card-text">{{review.title}}</p>
            <h5 class="card-footer text-end">{{review.user}}</h5>
          </div>
        </div>
      {% endfor %}    
    </div>
  </section>
</div>


<style>
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://westfieldcc.files.wordpress.com/2011/10/simple-blur-ipad-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    margin: 50px auto;
    width: 80%;
    font-family: sans-serif;
    color: #98927C;
    font-size: 14px;
    line-height: 24px;
    max-width: 1200px;
    min-width: 600px;
    overflow: hidden;
}

.tabs li {
    list-style: none;
    float: left;
    width: 25%;
}

.tabs a {
    font-size:0.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #FFF;
    height: 70px;
    line-height: 90px;
    background: linear-gradient(165deg, transparent 29%, #322d85 30%);
}

.tabs a:hover, .tabs a.active {
    background: linear-gradient(165deg, transparent 29%, #F2EEE2 30%);
    color: #98927C;
}

.tabs a:before {
    content: '';
    position: absolute;
    z-index: 11;
    left: 100%;
    top: -100%;
    height: 70px;
    line-height: 90px;
    width: 0;
    border-bottom: 70px solid rgba(0, 0, 0, 0.1);
    border-right: 7px solid transparent;
}

.tabs a.active:before {
    content: '';
    position: absolute;
    z-index: 11;
    left: 100%;
    top: -100%;
    height: 70px;
    line-height: 90px;
    width: 0;
    border-bottom: 70px solid rgba(0, 0, 0, 0.2);
    border-right: 20px solid transparent;
}

.tabgroup {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.tabgroup div {
    padding: 30px;
    background: #1f1c4d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

</style>

<script>
$('.tabgroup > div').hide();

$('.tabgroup > div:first-of-type').show();

$('.tabs a').click(function(e){
  e.preventDefault();
    var $this = $(this),
        tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
        others = $this.closest('li').siblings().children('a'),
        target = $this.attr('href');
    others.removeClass('active');
    $this.addClass('active');
    $(tabgroup).children('div').hide();
    $(target).show();
  
})

</script>

{% endblock content %}