{% extends 'base.html' %}
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
{% block content %}
<div style="color:white;">
	<h1> {{ person.username }}의 프로필</h1>
  {% comment %} 팔로잉/팔로워 수 확인 {% endcomment %}
	{% with followings=person.followings.all followers=person.followers.all %}
		<div class="float-right" style="color:#98927C;">
			<div>팔로잉 수 : {{ followings|length }} / 팔로워 수 : {{ followers|length }}</div>
		</div>
		{% if user != person %}
			<div>
      {% comment %} 팔로우 버튼 {% endcomment %}
				<form action="{% url 'accounts:follow' person.pk %}" method="POST">
					{% csrf_token %}
					{% if user in followers %}
            <button class="custom-btn btn-16">언팔로우</button>
					{% else %}
						<button class="custom-btn btn-16">팔로우</button>
					{% endif %}
				</form>
			</div>
		{% endif %}
	{% endwith %}

{% comment %} 프로필 인덱스 {% endcomment %}
<div class="wrapper">
  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" class="active">LIKE MOVIES</a></li>
    <li><a href="#tab2">MY REVIEWS</a></li>
    <li><a href="#tab3">My COMMENTS</a></li>
    <li><a href="#tab4">LIKE REVIEWS</a></li>
  </ul>
  {% comment %} LIKE Movies {% endcomment %}
  <section id="first-tab-group" class="tabgroup">
    <div id="tab1">
      <h2>{{ person.username }}가 좋아하는 영화</h2>
        <div class="container">
          <div class="row justify-content-start">
            {% for movie in person.like_movies.all %}

                {% comment %} 유저가 좋아하는 영화 표시 => 클릭시 영화 디테일로 {% endcomment %}
                <div class="card col-6 border-secondary p-2" style="width: 18rem;">
                  <a href="{% url 'movies:detail' movie.pk %}">
                  <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                    <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black" style="color:white;">
                    <h5 class="card-title" style="color:white;">{{movie.title}}</h5>
                    </a>
                    {% if movie.overview %}
                      <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
                      <p class="card-text" style="color:white;">{{movie.overview|truncatechars:100}}</p>
                      </a>
                    {% else %}
                      <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none text-black">
                      <p class="card-text" style="color:white;">영화의 overview가 없습니다 🤔</p>
                      </a>
                    {% endif %}
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
    </div>

    {% comment %} User가 작성한 게시글 => 클릭시 해당 게시글로 {% endcomment %}
    <div id="tab2">
      <h2>{{ person.username }}가 작성한 게시글</h2>
      <div class="container">
        <div class="row justify-content-center">
          {% for review in person.review_set.all %}
      
            <div class="card col-4 m-3 border-secondary" style="width:30rem;">
              <a href="{% url 'community:detail' review.pk %}" style="text-decoration:none; color:white"> 
                <div class="card-body">
                  <h5 class="card-title">영화:{{review.movie.title}}</h5>
                  <p class="card-title">제목:{{review.title|slice:"10" }}</p>
                </div>
              </a>
            </div>
          {% endfor %}    
        </div>
      </div>
    </div>

    {% comment %} User가 작성한 댓글 => 클릭시 해당 게시글로 {% endcomment %}
    <div id="tab3">
      <h2>{{ person.username }}가 작성한 댓글</h2>
      <div class="container">
        <div class="row justify-content-center">
          {% for comment in person.comment_set.all %}
            <div class="card col-4 m-3 border-secondary" style="width:18rem;">
              <a href="{% url 'community:detail' comment.review.pk %}" style="text-decoration:none; color:white">
                <div class="card-body">
                  <h5 class="card-title">제목:{{ comment.review.title }}</h5>
                  <p class="card-text">댓글:{{ comment.content }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %} User가 좋아요 누른 게시글 => 클릭시 해당 게시글로 {% endcomment %}
    <div id="tab4">
      <h2>{{ person.username }}가 좋아요를 누른 게시글</h2>
      <div class="container">
        <div class="row justify-content-center">

          {% for review in person.like_reviews.all %}
            <div class="card col-4 m-3 border-secondary" style="width:18rem;">
              <a href="{% url 'community:detail' review.pk %}" style="text-decoration:none; color:white">
                <div class="card-body">
                  <h5 class="card-title">영화:{{review.movie.title}}</h5>
                  <p class="card-text">제목:{{review.title}}</p>
                  <p class="card-footer text-end">작성자:{{review.user}}</p>
                </div>
              </a>
            </div>
          {% endfor %}    
        </div>
      </div>
    </div>
  </section>
</div>


<style>
h1 {
  margin: 3rem 0rem 0rem 0rem;
  color: #98927C;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://westfieldcc.files.wordpress.com/2011/10/simple-blur-ipad-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    margin: 50px auto;
    width: 80%;
    font-family: sans-serif;
    color: #98927C;
    font-size: 1rem;
    line-height: 24px;
    max-width: 1200px;
    min-width: 600px;
    overflow: hidden;
}

.tabs li {
    list-style: none;
    float: left;
    width: 25%;
}

.tabs a {
    font-size:0.9rem;
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #FFF;
    height: 70px;
    line-height: 90px;
    background: linear-gradient(165deg, transparent 29%, #322d85 30%);
}

.tabs a:hover, .tabs a.active {
    background: linear-gradient(165deg, transparent 29%, #F2EEE2 30%);
    color: #98927C;
}

.tabs a:before {
    content: '';
    position: absolute;
    z-index: 11;
    left: 100%;
    top: -100%;
    height: 70px;
    line-height: 90px;
    width: 0;
    border-bottom: 70px solid rgba(0, 0, 0, 0.1);
    border-right: 7px solid transparent;
}

.tabs a.active:before {
    content: '';
    position: absolute;
    z-index: 11;
    left: 100%;
    top: -100%;
    height: 70px;
    line-height: 90px;
    width: 0;
    border-bottom: 70px solid rgba(0, 0, 0, 0.2);
    border-right: 20px solid transparent;
}

.tabgroup {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.tabgroup div {
    padding: 5px;
    background: #1f1c4d;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #e0e5ec;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 16 */
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

</style>

<script>
$('.tabgroup > div').hide();

$('.tabgroup > div:first-of-type').show();

$('.tabs a').click(function(e){
  e.preventDefault();
    var $this = $(this),
        tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
        others = $this.closest('li').siblings().children('a'),
        target = $this.attr('href');
    others.removeClass('active');
    $this.addClass('active');
    $(tabgroup).children('div').hide();
    $(target).show();
  
})

</script>

{% endblock content %}