<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">MOVIE+</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% if request.resolver_match.app_name == 'movies' %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'movies:search' %}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="찾고싶은 영화를 검색하고 Enter! _〆(´Д｀ )" aria-label="Search" id="q" name="q"
          value="{{ q }}">
      </form>
      {% endif %}
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'community:create' %}"><i class="fas fa-pencil-alt"></i> 영화 리뷰 쓰러가기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:logout' %}"><i class="far fa-frown"></i> 로그아웃</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:profile' user.username %}"><i class="fas fa-user-astronaut"></i> 내 프로필</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:login' %}"><i class="far fa-smile"></i> 로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus"></i> 회원 되기!</a>
            </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>