<nav>
    <input type="checkbox" id="check">
    <label for="check" class="check-btn">
      <i class="fas fa-bars"></i>
    </label>

    <label for="" class="logo">Maket<span>GO!</span></label>
  <ul>
    <li><a href="#" class="nyala">Home</a> </li>
    <li><a href="#about">About</a> </li>
    <li><a href="#">Services</a> </li>
    <li><a href="#">Contact</a> </li>
    <li><a href="#">F.A.Q. & Feedback</a> </li>
      <p>Created by <b>DimasRS.</b></p>
  </ul>
</nav>


<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
 }

* {
  padding: 0;
  margin: 0;
  transition: .3s;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', arial, sans-serif;
  height: 600px;
}

/* section {
  background: url(https://images.pexels.com/photos/868110/pexels-photo-868110.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
} */

body::before {
  width: 100%;
  height: 100vh;
  content: " ";
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),
   url(https://images.pexels.com/photos/868110/pexels-photo-868110.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  z-index: -9999;
  background-size: cover;
  background-position: bottom;
  position: fixed;
  top: 0; left: 0;
}

nav {
  background-image: linear-gradient(60deg, #39d, #0082e6);
  height: 80px;
  width: 100%;
  box-shadow: 0px 1px 20px #333;
  position: fixed;
  top: 0;
}

.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bolder;
  cursor: pointer;
}
span { color: #eaeaea; }

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  position: relative;
}

nav ul li a {
  color: #eee;
  text-transform: uppercase;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

nav ul p {
  color: #ddd;
  position: absolute;
  right: 10px;
  padding-top: 5px;
}
nav ul b { color: rgba(255, 255, 255,1); text-shadow: 1px 1px 1px rgba(0,0,0,.8); }

.nyala, a:hover {
  /* background: #1b9bff; */
  background: rgba(255,255,255,.3);
  transition: 1s;
}

/* NAV BAR  */
.check-btn {
  font-size: 30px;
  color: #eee;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
   display: none;
   opacity: 0;
}
#check {
  display: none;
  opacity: 0;
}


/* RESPONSIVE NAV BAR  - untuk layar dibawah 952px */
@media ( max-width: 952px ) {
  .logo {
    font-size: 30px;
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 14px;
  }
}

/* RESPONSIVE NAV BAR -untuk layar dibawah 858px  */
@media ( max-width: 858px ) {
  .logo { padding-left: 10px; font-size: 21px; }

  .check-btn {
    display: block;
    opacity: 1;
  }

  ul {
    position: fixed;
    width: 90%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    box-shadow: 5px 0px 20px rgba(0,0,0,.5);
    transition: all .5s;
    overflowY: scroll;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 10px;
    position: static;
  }

  nav ul li a {
    margin-bottom: 0px;
  }


  a:hover, a.active {
    background: none;
    color: #0083e6;
  }

  .nyala {
    background: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }

  nav ul p {
    color: #ddd;
    border-top: 4px solid rgba(255,255,255,.8);
    padding-top: 20px;
    position: static;
  }
}






/* ARTICLE  */
.content {
  padding: 200px 20px;
  text-align: center;
  color: #fff;
}

.content h2 {
  font-size: 30px;
}

.content p {
  color: #eee;
  font-size: 18px;
}

.content .start {
  display: inline-block;
  color: #fff;
  width: 200px;
  font-size: 20px;
  border: 2px solid #39d;
  background: #39d;
  /* background: transparent; */
  padding: 12px 0px;
  border-radius: 28px;
  transition: 1.5s;
  overflow: hidden;
  /* position: relative; */
}
.content .start:hover {
  background: #39c;
  border: 2px solid transparent;
}

/* .content .start .otw {
  width: 0%;
  height: 100%;
  background: #39d;
  overflow: hidden;
  position: absolute;
  bottom: 0; left: 0;
  z-index: -1;
}

.content .start:hover .otw {
  width: 100%;
} */

@media ( max-width: 858px ) {
  .content { text-align: left; }
  
  .content .start {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>